.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact {
  &__options {
    display: flex;
  }
  &__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: var(--color-primary-variant);
    &-icon {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}

/* ====== Media Queries (Medium/Tablet) ===== */

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ====== Media Queries (Small/Phone) ===== */

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-ms);
  }
}
