header {
  height: 68vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 50%;
  position: relative;
}

/* ============ CTA ============ */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* ============ HEADER SOCIALS ============ */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  font-size: 1.4rem;
}

/* ============ ME ============ */

.me {
  width: 10em;
  height: 11em;
  position: absolute;
  left: calc(50% - 5em);
  margin-top: 4rem;
  border-radius: 12em;

  overflow: hidden;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

/* ============ SCROLL DOWN ============ */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 3rem;
}

/* ====== Media Queries (Medium/Tablet) ===== */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ====== Media Queries (Small/Phone) ===== */

@media screen and (max-width: 600px) {
  // header {
  //   height: 100vh;
  // }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
