nav {
  background: var(--color-secondary-variant);
  width: max-content;
  display: block;
  padding: 0.7em 3.7em;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2em;
  display: flex;
  gap: 0.9em;
  border-radius: 0.5em;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.8em;
  border-radius: 10%;
  display: flex;
  color: var(--color-primary);
  font-size: 0.9em;
}

// nav a:hover {
//   background: var(--color-white);
//   color: var(--color-secondary);
// }

// nav a.active {
//   background-color: var(--color-secondary);
//   color: var(--color-white);
// }
